@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
:root {
    font-size: 16px;
    font-family: "Open Sans", Arial;
    --text-primary: #4c4c4c;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #3ce9e9;
}

body {
    color: black;
    background-color: var(--text-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

#projecttitle {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#container1 {
    width: 80%;
    margin: 0 auto;
}


header {
    background: var(--bg-primary);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: relative;
}

nav a {
    color: rgb(67, 197, 206);
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(67, 197, 206);


    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

#title {
    color: var(--bg-secondary);
    background-color: var(--bg-primary);
    border: solid 10px #202020;
    margin: 1% 36% 1% 36%;
    font-size: 3em;
    text-align: center;
}
/* SLIDESHOW */
/* ------------------------------------------------------------------------------------------ */
.slide_img {
    position: absolute;
    width: 100%;
    height: 75%;
}

.slide_img img {
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3, #i4, #i5 {
    display: none;
}

.pre, .nxt {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 99;
    cursor: pointer;
}

.pre {
    left: 0;
}

.nxt {
    right: 0;
}

.nav {
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: -150px;
    width: 15px;
    height: 16px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
}

.slide_img {
    z-index: -1;
}

